<div *ngIf="!user" class="w-full h-full flex flex-col items-center justify-center py-8 pb-16">
  <h1 class="text-[1.5rem] font-medium py-6">Create your Account</h1>
  <div class="border-b border-b-[#eee] w-full mb-12"></div>
  <div class="shadow-lg" hlmCard>
    <div hlmCardHeader>
      <h3 class="text-[1.3rem]" hlmCardTitle>Create an account</h3>
      <p hlmCardDescription>Open the gate to your potential!</p>
      <form (ngSubmit)="createAccount()" [formGroup]="form">
        <div class="pl-0 pb-0 pt-[15px] gap-[5px] flex flex-col" hlmCardContent>
          <label hlmLabel>Email address
            <input appEmailValidator class="w-80" formControlName="email" hlmInput placeholder="Email address"
                   type="email">
            <div class="flex flex-col">
              <small *ngIf="form.get('email')?.errors?.['emailError'] && form.get('email')?.touched"
                     class="text-red-600 font-medium text-[0.8rem]">
                *Email not in correct format
              </small>
              <small *ngIf="form.get('email')?.errors?.['xss']" class="text-red-600 font-medium text-[0.8rem]"
                     id="xss-message">
                *Email contains potentially harmful script
              </small>
            </div>
          </label>
          <label hlmLabel>Password
            <input appCodeValidator appPasswordValidator class="w-80" formControlName="password" hlmInput
                   placeholder="Password" type="password">
            <div class="w-72">
              <small *ngIf="form.get('password')?.errors?.['invalidPassword'] && form.get('password')?.touched"
                     class="text-red-600 font-medium text-[0.8rem] mx-w-[200px]">
                *Password must be between 12 and 128 characters long and contain at least one letter, digit and special
                character.
              </small>
              <small *ngIf="form.get('password')?.errors?.['codeTag'] && form.get('password')?.touched"
                     class="text-red-600 font-medium text-[0.8rem] mx-w-[200px]">
                *Password contains harmful script
              </small>
            </div>
          </label>
          <div class="mt-[20px]">
            <label class="p-2" hlmLabel>Select your role
              <div class="pt-[5px]">
                <app-dropdown (selectedRole)="handleSelectedRole($event)"></app-dropdown>
              </div>
            </label>
            <div *ngIf="error" class="flex flex-col gap-[5px]">
              <small class="text-red-600 font-medium text-[0.8rem]">Account already exists</small>
              <div class="text-[0.8rem]">Own this account? Sign in <a [routerLink]="'/'"
                                                                      class="text-blue-600 underline hover:cursor-pointer hover:text-orange-600 transition duration-300 ease-in-out">here</a>
              </div>
            </div>
          </div>
          <div class="pl-0 pt-2" hlmCardFooter>
            <button [disabled]="!form.valid || role === ''" class="text-green-300 bg-blue-800" hlmBtn id="signUpButton"
                    type="submit">Create Account
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-6 mb-4 w-80 h-10 flex justify-between">
    <div class="border-t w-[40%] border-t-[#eee] mt-[13px]"></div>
    <div>Or</div>
    <div class="border-t w-[40%] border-t-[#eee] mt-[13px]"></div>
  </div>
  <section hlmCard>
    <div hlmCardHeader>
      <h3 class="1.3rem]" hlmCardTitle>Already have an account?</h3>
      <p hlmCardDescription>Open the gate to your potential!</p>
      <div class="pl-0 pb-0 pt-[15px] gap-[5px] flex flex-col" hlmCardContent>
        <a [routerLink]="'/'">
          <button class="w-80" hlmBtn>Sign In</button>
        </a>
      </div>
    </div>
  </section>
</div>
