# Ignore compiled binaries
bin/
obj/

# Ignore node modules (for Angular frontend)
node_modules/

.angular

# Ignore Visual Studio files
.vs/

# Ignore compiled JavaScript files
dist/

# Ignore user-specific settings
*.suo
*.user
*.sln.docstates

# Ignore sensitive or environment-specific configuration files
*.env
