<hlm-menu-bar class="w-full hover:cursor-pointer">
  <button id="toggleButton" [brnMenuTriggerFor]="role" class="w-full gap-3 pl-3 hover:cursor-pointer" hlmMenuBarItem>{{ chosenAge.age }}
    <i class="{{chosenAge.icon}} text-blue-800"></i>
  </button>
</hlm-menu-bar>

<ng-template #role>
  <hlm-menu class="w-[250px]" variant="menubar">
    <hlm-menu-group class="w-full">
      <button id="grassrootsButton" (click)="setToJunior()" class="text-black hover:cursor-pointer" hlmMenuItem>
        Junior
        <hlm-menu-shortcut><i class="fa-solid fa-child-reaching text-blue-800"></i></hlm-menu-shortcut>
      </button>
      <hlm-menu-separator/>
      <button id="amateurButton" (click)="setToSenior()" class="text-black hover:cursor-pointer" hlmMenuItem>
        Senior
        <hlm-menu-shortcut><i class="fa-solid fa-person-cane text-blue-800"></i></hlm-menu-shortcut>
      </button>
    </hlm-menu-group>
  </hlm-menu>
</ng-template>
